---
import { CollectionEntry, getCollection } from 'astro:content';
import BaseHead from '@site-components/base-head/base-head.astro';
import ComponentsView from '@layouts/components-view/components-view.astro';

export async function getStaticPaths() {
	const components = await getCollection('components');
	return components
		.filter((component) => component.data.title !== 'Theme Toggle')
		.map((component) => ({
			params: { slug: component.slug },
			props: component
		}));
}
type Props = CollectionEntry<'components'>['data'];

const component = Astro.props;
const { Content } = await component.render();

const { title, description, image, order } = component.data;
---

<ComponentsView>
	<div class="component">
		<h1 class="component__heading">{title}</h1>
		<p class="component__description">{description}</p>
		<div class="component__content">
			<Content />
		</div>
	</div>
</ComponentsView>

<style>
	.component {
		color: var(--color-font);
		padding: var(--spacing-xl) var(--spacing-md);
		max-width: 999px;
		margin: 0 auto;
	}

	.component__heading {
		font-size: var(--font-xl);
	}

	.component__description {
		color: var(--color-font-secondary);
	}

	.component__content {
		margin-top: var(--spacing-xl);
	}
</style>
