---
import { CollectionEntry, getCollection } from 'astro:content';
import BaseHead from '@site-components/base-head/base-head.astro';
import DocumentationView from '@layouts/documentation-view/documentation-view.astro';

export async function getStaticPaths() {
	const components = await getCollection('components');
	return components
		.filter((component) => component.data.title !== 'Theme Toggle')
		.map((component) => ({
			params: { slug: component.slug },
			props: component
		}));
}
type Props = CollectionEntry<'components'>['data'];

const component = Astro.props;
const { Content } = await component.render();

const { title, description, image, order } = component.data;
---

<DocumentationView>
	<h1 class="documentation-view__heading">{title}</h1>
	<p class="documentation-view__description">{description}</p>
	<Content />
</DocumentationView>
