---
import BaseHead from '@site-components/base-head/base-head.astro';
import SidebarList from '@site-components/side-bar-list/side-bar-list.astro';
import Navbar from '@site-components/navbar/navbar.astro';
---

<BaseHead
	title="UI Components"
	description="A list of simple, well designer, accessible components"
/>

<Navbar />
<div class="documentation-view">
	<div class="documentation-view__sidebar">
		<SidebarList />
	</div>
	<div class="documentation-view__right-col">
		<div class="documentation-view__content">
			<slot />
		</div>
	</div>
</div>
<style>
	.documentation-view {
		min-height: 100vh;
		padding: var(--spacing-lg);
	}

	.documentation-view__sidebar {
		background-color: hsla(229, 27%, 8%, 0.8);
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: scroll;
		z-index: 15;
		transform: translateX(-100%);
		transition: transform var(--transition-medium) ease-in-out;
	}

	.documentation-view__sidebar[data-menu-state='open'] {
		opacity: 1;
		transform: translateX(0);
		transition: transform var(--transition-medium) ease-in-out;
	}

	.documentation-view__right-col {
		flex-grow: 1;
		margin-left: 0;
		transition: transform var(--transition-medium) ease-in-out;
	}

	.documentation-view__content {
		color: var(--color-font);
	}

	@media (min-width: 768px) {
		.documentation-view {
			padding: var(--spacing-xl);
		}

		.documentation-view__sidebar {
			opacity: 1;
			width: 250px;
			transform: translateX(0%);
		}

		.documentation-view__sidebar-content {
			transform: translateX(0);
		}

		.documentation-view__right-col {
			margin-left: 255px;
		}
	}
</style>
