---
import { getCollection } from 'astro:content';

const components = (await getCollection('components'))
	.sort((a, b) => b.data.order - a.data.order)
	.reverse();
---

<div class="sidebar">
	<h4 class="sidebar__list-title">Components</h4>
	<ul class="sidebar__components">
		{
			components.map((component) => (
				<li class="sidebar__item">
					<a href={`/components/${component.slug}/`}>{component.data.title}</a>
				</li>
			))
		}
	</ul>
</div>

<style>
	.sidebar {
		background-color: var(--color-bg);
		color: var(--color-font);
		height: 100%;
		padding: var(--spacing-2xl) var(--spacing-md) var(--spacing-lg) var(--spacing-lg);
	}

	.sidebar__list-title {
		margin-bottom: var(--spacing-md);
	}

	.sidebar__components {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-sm);
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.sidebar__item a {
		color: var(--color-font-secondary);
		font-size: var(--font-sm);
		text-decoration: none;
	}

	.sidebar__item a:hover {
		color: var(--color-font);
	}
</style>

<script lang="js">
	const locationHref = window.location.pathname;
	const links = document.querySelectorAll('.sidebar__item a');

	links.forEach((link) => {
		const linkText = link.textContent.trim().toLowerCase().replace(/ /g, '-');

		if (locationHref.includes(linkText)) {
			link.style.color = 'white';
		}
	});
</script>
