---
import BaseHead from '@site-components/base-head/base-head.astro';
import SidebarList from '@site-components/side-bar-list/side-bar-list.astro';
---

<!doctype html>
<html lang="en" data-theme="dark">
	<BaseHead
		title="UI Components"
		description="A list of simple, well designer, accessible components"
	/>

	<body>
		<div class="components-view">
			<button class="components-view__hamburger" aria-label="open components menu">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-6 h-6"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
				</svg>
			</button>
			<div class="components-view__left-col">
				<SidebarList />
			</div>
			<div class="components-view__right-col">
				<slot />
			</div>
		</div>
		<style>
			.components-view {
				min-height: 100dvh;
			}

			.components-view__left-col {
				background-color: var(--color-bg);
				width: 60%;
				height: 100%;
				padding-left: var(--spacing-lg);
				box-shadow: var(--shadow);
				position: fixed;
				overflow: scroll;
				z-index: 10;
				transform: translateX(-100%);
				transition: var(--transition-medium) ease-in-out;
			}

			.components-view__left-col--open {
				transform: translateX(0%);
				transition: var(--transition-medium) ease-in-out;
			}

			.components-view__right-col {
				flex-grow: 1;
				margin-left: 0;
				transition: var(--transition-medium) ease-in-out;
			}

			.components-view__hamburger {
				background-color: transparent;
				display: block;
				position: absolute;
				top: 1rem;
				left: 1rem;
				border: none;
				z-index: 20;
				cursor: pointer;
				transition: var(--transition-medium) ease-in-out;
			}

			.components-view__hamburger svg {
				width: 2rem;
				height: 2rem;
				color: var(--color-font);
			}

			@media (min-width: 768px) {
				.components-view__left-col {
					width: 250px;
					transform: translateX(0%);
				}

				.components-view__right-col {
					margin-left: 255px;
				}

				.components-view__hamburger {
					display: none;
				}
			}
		</style>

		<script>
			const sidebar = document.querySelector('.components-view__left-col');
			const hamburgerMenu = document.querySelector('.components-view__hamburger');

			hamburgerMenu.addEventListener('click', () => {
				sidebar.classList.toggle('components-view__left-col--open');
			});
		</script>
	</body>
</html>
